# Logs
.pnpm-debug.log*

# Coverage directory used by tools like istanbul
coverage
*.lcov

# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# Optional eslint cache
.eslintcache

# dotenv environment variable files
/.env
.env.local
# Next.js build output
.next
out

# Gatsby files
.nx/cache
.nx/workspace-data

# Build files
dist
build

# Groovy lib
lib
.DS_Store
