@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --radius: 0.5rem;

    /* COLOR PRIMITIVES */

    --white: 255 255 255;
    --black: 0 0 0;

    --grey-900: 10 10 10;
    --grey-800: 28 28 28;
    --grey-700: 45 45 45;
    --grey-600: 115 115 115;
    --grey-500: 153 153 153;
    --grey-400: 204 204 204;
    --grey-300: 236 236 236;
    --grey-200: 241 241 241;
    --grey-100: 245 245 245;

    --green-900: 25 44 38;
    --green-700: 22 100 52;
    --green-500: 26 210 122;
    --green-100: 187 247 208;

    --blue-900: 21 31 65;
    --blue-700: 29 64 176;
    --blue-500: 81 119 240;
    --blue-100: 191 219 254;

    --orange-900: 79 34 15;
    --orange-700: 171 63 17;
    --orange-500: 251 146 60;
    --orange-100: 255 230 200;

    --red-500: 255 67 57;
    --red-300: 255 123 116;
    --red-100: 255 211 208;

    /* MAPPED COLORS */

    --text-foreground: var(--grey-900);
    --text-secondary: var(--grey-600);
    --text-placeholder: var(--grey-500);
    --text-info: var(--blue-700);
    --text-info-primary: var(--blue-500);
    --text-success: var(--green-700);
    --text-success-primary: var(--green-500);
    --text-warning: var(--orange-700);
    --text-warning-primary: var(--orange-500);
    --text-error: var(--red-500);
    --text-disabled: var(--grey-500);
    --text-light: var(--white);

    --surface-container: var(--white);
    --surface-bg: var(--grey-100);
    --surface-card: var(--grey-100);
    --surface-info: var(--blue-100);
    --surface-success: var(--green-100);
    --surface-warning: var(--orange-100);
    --surface-error: var(--red-100);
    --surface-error-primary: var(--red-500);
    --surface-error-hover: var(--red-300);
    --surface-primary: var(--grey-900);
    --surface-hover: var(--grey-600);
    --surface-hover-secondary: var(--grey-300);
    --surface-alert: var(--white);
    --surface-disabled: var(--grey-300);
    --surface-fill: var(--white);
    --surface-fill-secondary: var(--grey-400);
    --surface-button2: var(--white);

    --border-primary: var(--grey-400);
    --border-secondary: var(--grey-200);
    --border-tertiary: var(--grey-200);
    --border-active: var(--grey-700);
    --border-error: var(--red-500);
    --border-info: var(--blue-500);
    --border-success: var(--green-500);
    --border-warning: var(--orange-500);

    --tag-blue-light: var(--blue-700);
    --tag-blue-dark: var(--blue-100);
    --tag-green-light: var(--green-700);
    --tag-green-dark: var(--green-100);
    --tag-orange-light: var(--orange-500);
    --tag-orange-dark: var(--orange-100);

    --code-yellow: 170 92 0;
    --code-cyan: 0 114 153;
    --code-green: 0 128 1;
    --code-red: 218 30 24;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;

    /* MAPPED COLORS */

    --text-foreground: var(--white);
    --text-secondary: var(--grey-500);
    --text-placeholder: var(--grey-600);
    --text-info: var(--blue-700);
    --text-info-primary: var(--blue-500);
    --text-success: var(--green-700);
    --text-success-primary: var(--green-500);
    --text-warning: var(--orange-700);
    --text-warning-primary: var(--orange-500);
    --text-error: var(--red-500);
    --text-disabled: var(--grey-600);
    --text-light: var(--grey-900);

    --surface-container: var(--grey-900);
    --surface-bg: var(--grey-800);
    --surface-card: var(--grey-800);
    --surface-info: var(--blue-100);
    --surface-success: var(--green-100);
    --surface-warning: var(--orange-100);
    --surface-error: var(--red-100);
    --surface-error-primary: var(--red-500);
    --surface-error-hover: var(--red-300);
    --surface-primary: var(--white);
    --surface-hover: var(--grey-300);
    --surface-hover-secondary: var(--grey-700);
    --surface-alert: var(--grey-800);
    --surface-disabled: var(--grey-800);
    --surface-fill: var(--grey-700);
    --surface-fill-secondary: var(--grey-600);
    --surface-button2: var(--grey-900);

    --border-primary: var(--grey-700);
    --border-secondary: var(--grey-800);
    --border-tertiary: var(--grey-700);
    --border-active: var(--grey-400);
    --border-error: var(--red-500);
    --border-info: var(--blue-500);
    --border-success: var(--green-500);
    --border-warning: var(--orange-500);

    --tag-blue-light: var(--blue-100);
    --tag-blue-dark: var(--blue-900);
    --tag-green-light: var(--green-100);
    --tag-green-dark: var(--green-900);
    --tag-orange-light: var(--orange-500);
    --tag-orange-dark: var(--orange-900);

    --code-yellow: 255 214 2;
    --code-cyan: 0 225 224;
    --code-green: 172 227 53;
    --code-red: 255 160 122;
  }
}

* .dark {
  border-color: rgba(255, 255, 255, 0.125);
}
* {
  border-color: rgb(144 144 144 / 13%);
}

@keyframes left-enter {
  0% {
    margin-left: -196px;
  }
  to {
    margin-left: 0;
  }
}

.animate-block {
  animation-duration: 0.4s;
  animation-name: left-enter;
}

@supports not (overflow-wrap: anywhere) {
  .break-anywhere {
    word-break: break-word;
  }
}

@supports (overflow-wrap: anywhere) {
  .break-anywhere {
    overflow-wrap: anywhere;
  }
}

@layer utilities {
  .h-stack {
    @apply [&>div:last-of-type]:border-b-0 [&>div]:border-b [&>div]:border-[#F1F1F1] dark:[&>div]:border-[#1C1C1C];
  }

  .link-box {
    @apply relative;
  }

  .link-overlay {
    @apply before:absolute before:left-0 before:top-0 before:z-0 before:block before:size-full before:cursor-[inherit] before:content-[''];
  }
}
